---
import Layout from '../../layouts/Base.astro';
---

<Layout title="Blog posts | Slava Maksimov">
  <section>
    <h1 class="text-32 font-bold">Blog posts</h1>
  </section>

  <section class="space-y-8">
    <p>Nothing posted yet</p>
  </section>
</Layout>
