---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead title="Page not found" />
  </head>

  <body>
    <main class="w-full h-screen flex items-center justify-center text-center">
      <section class="flex flex-col">
        <h1 class="text-[8rem] leading-none font-bold">404</h1>

        <p class="text-xl font-medium mt-2 mb-8">
          Couldn’t find what you’re looking for.
        </p>

        <a href="/" class="text-xl font-medium">Back to the Homepage</a>
      </section>
    </main>
  </body>
</html>
