---
import Layout from "../layouts/Base.astro";
import menus from "../../data/menus.json";
import { description } from "../../data/site.json";
---

<Layout title="About | Slava Maksimov" description={description}>
  <section>
    <h1 class="text-32 font-bold">About</h1>
  </section>

  <section class="text-lg space-y-5">
    <p>
      I'm a remote software developer who has been helping small and mid-sized
      companies thrive in the Shopify ecosystem for over 5 years.
    </p>
    <p>
      Before I started development, I spent about 6 years as a System
      Administrator. I handled everything from local networks and server
      maintenance to user support and security audits.
    </p>
    <p>
      Recently, I’ve started moving toward
      <strong>Cloud Native engineering</strong>. I’m currently spending my time
      working with <strong>TypeScript</strong> and <strong>Node.js</strong>
      while learning how to build and deploy more complex backend systems.
    </p>
    <p>Outside of my work, I'm an avid motorcyclist.</p>
  </section>

  <section class="prose space-y-8">
    <h2 class="text-2xl font-bold">Interests</h2>

    <ul class="text-lg space-y-3 list-disc list-inside">
      <li>Tinkering with Neovim and the terminal</li>
      <li>Deepening my knowledge in Computer science and architecture</li>
      <li>Open-source and self-hosted solutions</li>
      <li
        >Securing my
        <a
          href="https://digital-defense.io"
          title="Digital Defense"
          target="_blank">digital life</a
        > and protecting my privacy
      </li>
    </ul>
  </section>

  {
    menus.contact?.length > 0 && (
      <section class="space-y-8">
        <h2 class="text-2xl font-bold">You can find me here</h2>

        <ul class="flex flex-col gap-y-5 text-xl text-fg-muted">
          {menus.contact.map((item) => (
            <li>
              <a href={item.href} target="_blank">
                {item.title}
              </a>
            </li>
          ))}
        </ul>
      </section>
    )
  }
</Layout>
