<header>
  <a href="/" class="inline-block" aria-label="Go to homepage">
    <img
      class="rounded-xl"
      src="/photo.jpg"
      width="80"
      height="80"
      alt="It's me"
    />
  </a>
</header>
